<ul>
    <li>{{#link-to 'publishers' 'all' }} all {{/link-to}}</li>
    <li>{{#link-to 'publishers' 'pubs' }} publishers {{/link-to}}</li>
    <li>{{#link-to 'publishers' 'Hellion' }} Hellion {{/link-to}}</li>
</ul>
{{outlet}}
